* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-black.woff2") format("woff2");font-weight: 900;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?88d4677a105050494bcb7b934456b8a8") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-user-fill"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-twitter"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-shop"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-shop-fill"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-nav-togle"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-message"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-menu"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-logout"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-linkedin"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-home-fill"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-favorite"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-favorite-fill"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-delete"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-calling"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-arrow-b"]::before { 
		content: "\f115"; 
	} 
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #3D3D3D;
  font-family: "cerapro";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.link__inner {
  position: relative;
  overflow: hidden;
}
.link__inner span {
  margin: 0;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.link__main {
  display: block;
}
.link__hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(1.75rem);
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
.menu__link {
  padding: 0.3125rem;
  transition: color 0.4s;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  bottom: -1.875rem;
  left: 0%;
  background-color: #46A358;
  opacity: 0;
  transition: 0.4s opacity, 0.4s bottom;
}
.--header-scroll .menu__link:after {
  bottom: -1.3125rem;
}
.menu__link--active {
  font-weight: 700;
}
.menu__link--active::after {
  bottom: -1.4375rem;
  opacity: 1;
}
/*

<div class="header__menu menu">
	<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "Home"},
					{"href": "#","ancor": "Shop"},
					{"href": "#","ancor": "Plant Care"},
					{"href": "#","ancor": "Blogs"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->

*//* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.5s, opacity 0s;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  padding-bottom: 1.125rem;
  padding-top: 1.5625rem;
  border-bottom: 0.01875rem solid #46A358;
  transition: padding 0.5s;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__search {
  z-index: 2;
  position: relative;
}
.header__search-icon {
  display: flex;
  padding: 0.3125rem;
}
.header__search-icon svg path {
  transition: fill 0.3s;
}
.header__shop {
  position: relative;
  padding: 0.3125rem;
}
.header__shop svg path {
  transition: fill 0.3s;
}
.header__shop span {
  position: absolute;
  top: 0.4375rem;
  right: 0rem;
  border-radius: 50%;
  font-size: 0.625rem;
  font-weight: 500;
  padding: 0.1875rem;
  line-height: 0.4;
  background-color: #46A358;
  outline: 0.125rem solid #fff;
  color: #fff;
  aspect-ratio: 1;
}
.header__filters {
  background-color: #46A358;
  border-radius: 0.875rem;
  padding: 0.6875rem 0.6875rem 0.75rem 0.75rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(70, 163, 88, 0.3);
  transition: box-shadow 0.4s;
}
.header__filters:active {
  box-shadow: 0rem 0rem 0.625rem rgba(70, 163, 88, 0.3);
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll .header__container {
  padding-bottom: 0.9375rem;
  padding-top: 0.9375rem;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0.625rem;
  border: 0.0625rem solid #eee;
  caret-color: inherit;
}
.input--header {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  transition: all 0.4s ease;
  line-height: 1.14285714; /* 16/14 */
  color: #3D3D3D;
  padding: 0.9375rem;
  padding-left: 2.8125rem;
  background-color: #F8F8F8;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  transition: all 0.3s;
}
.input--header:not(:placeholder-shown) ~ .search-icon-placeholder {
  opacity: 0;
}
.input--header:focus {
  outline: none;
  border-color: #46A358;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0.1875rem rgba(70, 163, 88, 0.1);
}
.input--header::placeholder {
  color: #A5A5A5;
  font-size: 0.875rem;
  line-height: 1.14285714; /* 16/14 */
}

.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.625rem 1.5625rem;
  background-color: #46A358;
  border-radius: 0.375rem;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.3s;
}
.button--fw {
  width: 100%;
  border-radius: 0;
}
.button--second {
  background-color: transparent;
  border: 0.0625rem solid #46A358;
  color: #46A358;
  transition: 0.3s;
}
.button--icon {
  font-size: 0.875rem;
  line-height: 1.42857143; /* 20/14 */
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding: 0.5rem 1.0625rem;
  font-weight: 500;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.hero {
  padding-top: 9.375rem;
  opacity: 0;
}
@media (width <= 47.99875em) {
  .menu__list {
    column-gap: 0.9375rem;
  }
  .header__actions {
    gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__actions {
    gap: 0.5rem;
    flex-grow: 1;
  }
  .header__search {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .header__search-icon {
    position: absolute;
    left: 0.6875rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .header__search-icon svg path {
    fill: #A5A5A5;
  }
  .header__shop {
    display: none;
  }
  .header .header__button {
    display: none;
  }
  .button {
    font-size: 1.125rem;
  }
}
@media (width > 47.99875em) and (width <= 76.875em) {
  .menu__list {
    column-gap: clamp( 0.9375rem , -1.6597225228375rem  +  5.4110211679vw , 2.5rem );
  }
  .header__actions {
    gap: clamp( 0.9375rem , 0.41805549543125rem  +  1.0822042336vw , 1.25rem );
  }
}
@media (min-width: 47.99875em) {
  .header__filters {
    display: none;
  }
  .input--header {
    border-radius: 1.25rem;
    position: absolute;
    width: 11.25rem;
    z-index: 1;
    top: 3.4375rem;
    left: 50%;
    transform: translate(-50%, -0.9375rem);
    border: 0.125rem solid #46A358;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    pointer-events: none;
  }
  .input--header.input-active {
    transform: translate(-50%);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
@media (width > 76.875em) {
  .menu__list {
    column-gap: 2.5rem;
  }
  .header__actions {
    gap: 1.25rem;
  }
}
@media (any-hover: hover), (pointer: fine) {
  html:not([data-fls-touch]) .link:hover .link__main {
    transform: translateY(-1.75rem);
  }
  html:not([data-fls-touch]) .link:hover .link__hover {
    transform: translateY(0);
  }
  html:not([data-fls-touch]) .menu__link:hover {
    color: #46A358;
  }
  html:not([data-fls-touch]) .header__search-icon:hover svg path {
    fill: #46A358;
  }
  html:not([data-fls-touch]) .header__shop:hover svg path {
    fill: #46A358;
  }
  html:not([data-fls-touch]) .header__filters:hover {
    box-shadow: 0rem 0.3125rem 0.9375rem rgba(70, 163, 88, 0.3);
  }
  html:not([data-fls-touch]) .input--header:hover {
    border-color: #46A358;
  }
  html:not([data-fls-touch]) .button:hover {
    background-color: #4bb662;
  }
  html:not([data-fls-touch]) .button--second:hover {
    color: #fff;
  }
  html:not([data-fls-touch]) .button--icon:hover {
    background-color: #4bb662;
  }
}
@media (hover: none) {
  html[data-fls-touch] .link:active .link__main {
    transform: translateY(-1.75rem);
  }
  html[data-fls-touch] .link:active .link__hover {
    transform: translateY(0);
  }
  html[data-fls-touch] .menu__link:active {
    color: #46A358;
  }
  html[data-fls-touch] .header__search-icon:active svg path {
    fill: #46A358;
  }
  html[data-fls-touch] .header__shop:active svg path {
    fill: #46A358;
  }
  html[data-fls-touch] .header__filters:active {
    box-shadow: 0rem 0.3125rem 0.9375rem rgba(70, 163, 88, 0.3);
  }
  html[data-fls-touch] .input--header:active {
    border-color: #46A358;
  }
  html[data-fls-touch] .button:active {
    background-color: #4bb662;
  }
  html[data-fls-touch] .button--second:active {
    color: #fff;
  }
  html[data-fls-touch] .button--icon:active {
    background-color: #4bb662;
  }
}