* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
mark {
	background: transparent;
}@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-medium.woff2") format("woff2");font-weight: 500;font-style: normal;}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face {font-family: cerapro;font-display: swap;src: url("../assets/fonts/cerapro-black.woff2") format("woff2");font-weight: 900;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?88d4677a105050494bcb7b934456b8a8") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-user-fill"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-twitter"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-shop"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-shop-fill"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-nav-togle"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-message"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-menu"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-logout"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-linkedin"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-home-fill"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-favorite"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-favorite-fill"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-delete"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-calling"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-arrow-b"]::before { 
		content: "\f115"; 
	} 
/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #3D3D3D;
  font-family: "cerapro";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.select {
  min-width: 0;
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.2s;
}
.--select-open .select__title {
  text-decoration-color: #F8F8F8;
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 0.3125rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "";
  align-self: stretch;
  flex: 0 0 1rem;
  aspect-ratio: 1;
  transition: all 0.3s ease 0s;
  background: url("../assets/img/icons/select-arrow.svg") center/1rem no-repeat;
  align-self: start;
  margin-top: 0.125rem;
}
.--select-open .select__value:after {
  transform: rotate(-180deg);
}
.select__value.--select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__content {
  flex: 1 1 auto;
  padding-bottom: 0.3125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  padding: 0 0.625rem;
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.--select-active .select__input::placeholder {
  color: #000;
}
.--select-focus .select__input::placeholder {
  opacity: 0.5;
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 0.0625rem solid #d9d9d9;
  border-top: 0;
  padding: 0.625rem 0rem 0.3125rem 0rem;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 13.75rem;
}
.select__option {
  width: 100%;
  text-align: left;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0.3125rem 0.625rem;
  color: inherit;
}
.select__option.--select-selected {
  background-color: #eee;
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 0.0625rem solid #d9d9d9;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.3125rem 0rem 0.625rem 0rem;
}
.--select-tag {
  cursor: pointer;
}/* Generated by vite-plugin-svg-spritemap */
.link__inner {
  position: relative;
  overflow: hidden;
}
.link__inner span {
  margin: 0;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}
.link__main {
  display: block;
}
.link__hover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(1.75rem);
}/* Generated by vite-plugin-svg-spritemap */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
.swiper-wrapper > *:not(.swiper-slide-active) {
  pointer-events: none;
  opacity: 0;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}/* Generated by vite-plugin-svg-spritemap */
body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

[data-fls-popup-open] body::after {
  opacity: 1;
}

[data-fls-popup] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
[data-fls-popup][data-fls-popup-active] {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

[data-fls-popup-active] [data-fls-popup-body] {
  visibility: visible;
  transform: scale(1);
}

[data-fls-popup-wrapper] {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-fls-popup-body] {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: #eee;
  padding: 1.25rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 1.25rem;
}

[data-fls-popup-youtube-place] iframe {
  width: 100%;
  aspect-ratio: 16/9;
}/* Generated by vite-plugin-svg-spritemap */
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
.menu__link {
  padding: 0.3125rem;
  transition: color 0.4s;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  bottom: -1.875rem;
  left: 0%;
  background-color: #46A358;
  opacity: 0;
  transition: 0.4s opacity, 0.4s bottom;
}
.--header-scroll .menu__link:after {
  bottom: -1.3125rem;
}
.menu__link--active {
  font-weight: 700;
}
.menu__link--active::after {
  bottom: -1.4375rem;
  opacity: 1;
}
/*

<div class="header__menu menu">
	<button type="button" data-fls-menu class="menu__icon icon-menu"><span></span></button>
	<nav class="menu__body">
		<ul class="menu__list">
			<each loop='item in [
					{"href": "#","ancor": "Home"},
					{"href": "#","ancor": "Shop"},
					{"href": "#","ancor": "Plant Care"},
					{"href": "#","ancor": "Blogs"}
				]'>
				<if condition="'[[active]]' === '[[item.ancor]]'">
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link menu__link--active">[[item.ancor]]</a>
					</li>
				</if>
				<else>
					<li class="menu__item">
						<a href="[[item.href]]" class="menu__link">[[item.ancor]]</a>
					</li>
				</else>
			</each>
		</ul>
	</nav>
</div>

<!-- 
<fetch url="@components/layout/menu/menu.json">
	<each loop='item in response'>
	</each>
</fetch>
-->

*//* Generated by vite-plugin-svg-spritemap */
.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.5s, opacity 0s;
  background-color: #fff;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  padding-bottom: 1.125rem;
  padding-top: 1.5625rem;
  border-bottom: 0.01875rem solid rgba(70, 163, 88, 0.5);
  transition: padding 0.5s;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__search {
  z-index: 2;
  position: relative;
}
.header__search-icon {
  display: flex;
  padding: 0.3125rem;
}
.header__search-icon svg path {
  transition: fill 0.3s;
}
.header__shop {
  position: relative;
  padding: 0.3125rem;
}
.header__shop svg path {
  transition: fill 0.3s;
}
.header__shop span {
  position: absolute;
  top: 0.4375rem;
  right: 0rem;
  border-radius: 50%;
  font-size: 0.625rem;
  font-weight: 500;
  padding: 0.1875rem;
  line-height: 0.4;
  background-color: #46A358;
  outline: 0.125rem solid #fff;
  color: #fff;
  aspect-ratio: 1;
}
.header__filters {
  background-color: #46A358;
  border-radius: 0.875rem;
  padding: 0.6875rem 0.6875rem 0.75rem 0.75rem;
  box-shadow: 0rem 0.625rem 1.25rem rgba(70, 163, 88, 0.5);
  transition: box-shadow 0.4s;
}
.header__filters:active {
  box-shadow: 0rem 0rem 0.625rem rgba(70, 163, 88, 0.3);
}

.header-bottom {
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 50%;
  transition: all 0.5s, opacity 0s;
  display: flex;
  justify-content: center;
  --gap: 0.625rem;
  --_br: 2.5rem;
  gap: var(--gap);
}
.header-bottom {
  transform: translate(-50%, 90%);
}
.header-bottom--show {
  transform: translate(-50%, 0);
}
.header-bottom--show .togle-nav-header-bottom__button {
  transform: translate(0rem, -40%);
}
.header-bottom__action {
  background-color: #fff;
  border-top-left-radius: 2.1875rem;
  border-top-right-radius: 2.1875rem;
  max-width: 10.625rem;
  width: 100%;
}
.header-bottom__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom__list {
  width: 100%;
}
.header-bottom__link svg path {
  transition: fill 0.3s;
}
.action-left-header-bottom {
  box-shadow: -1.0625rem 0 1.875rem -0.625rem rgba(184, 184, 184, 0.4);
}

.togle-nav-header-bottom {
  position: relative;
}
.togle-nav-header-bottom::before {
  content: "";
  --size: calc(var(--_br) * 1.25);
  position: absolute;
  z-index: -100;
  width: calc(var(--gap) * 2 + 100% + 0.25rem);
  height: 85%;
  left: calc(var(--gap) * -1 - 0.125rem);
  bottom: 0;
  background-image: radial-gradient(circle at 50% -4%, transparent var(--size), #fff var(--size));
  background-size: 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0rem -0.625rem 1.875rem rgba(184, 184, 184, 0.2));
}
.togle-nav-header-bottom__button {
  display: flex;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.9) 0%, rgb(70, 163, 88) 100%);
  padding: 1.25rem;
}
.togle-nav-header-bottom__button {
  border-radius: 50%;
  transition: transform 0.5s, box-shadow 0.5s;
  transform: translate(0rem, -105%);
  box-shadow: 0rem 0.625rem 1.25rem 0rem #D3D3D3;
}
.togle-nav-header-bottom__button svg {
  width: 1.875rem;
  height: 1.75rem;
}
.togle-nav-header-bottom__button {
  /*
  // position: relative;
  // &::before,&::after{
  // 	content:'';
  // 	--size: calc(var(--_br) * 1.25);
  // 	position: absolute;
  // 	z-index: -1;
  // 	bottom: -30%;
  // 	left: calc(100% - 0.625rem - (var(--_br)/2 * 1.4));
  // 	width: var(--size);
  // 	height: var(--size);
  // 	background-image: radial-gradient(circle at 100% 100%, transparent var(--size), red var(--size));
  // 	background-size: 100% 90%;
  // 	background-position: 0 0;
  // 	background-repeat: no-repeat;
  // 	rotate: 180deg;
  // }
  // &::before{
  // 	rotate: -90deg;
  // 	left: -0.75rem;
  // }
  // &::after{
  // 	background-size: 94% 100%;
  // }
  */
}

.action-right-header-bottom {
  box-shadow: 1.0625rem 0 1.875rem -0.625rem rgba(184, 184, 184, 0.4);
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-header-scroll].--header-scroll .header__container {
  padding-bottom: 0.9375rem;
  padding-top: 0.9375rem;
}

[data-fls-header-scroll-show].--header-scroll {
  transition: translate 0.3s;
  translate: 0rem -100%;
}
[data-fls-header-scroll-show].--header-show {
  translate: 0 0;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0.625rem;
  border: 0.0625rem solid #eee;
  caret-color: inherit;
}
.input--header {
  color: #3D3D3D;
  padding: 0.9375rem;
  padding-left: 2.8125rem;
  background-color: #F8F8F8;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  transition: all 0.3s;
}
.input--header:not(:placeholder-shown) ~ .search-icon-placeholder {
  opacity: 0;
}
.input--header:focus {
  outline: none;
  border-color: #46A358;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 0.1875rem rgba(70, 163, 88, 0.1);
}
.input--header, .input--header::placeholder {
  line-height: 1.14285714; /* 16/14 */
  font-size: 0.875rem;
}
.input--header::placeholder {
  color: #A5A5A5;
  line-height: 1.14285714; /* 16/14 */
}

.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.75rem 1.5625rem;
  background-color: #46A358;
  border-radius: 0.375rem;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.3s;
  line-height: 1.25; /* 20/16 */
}
.button--fw {
  width: 100%;
  border-radius: 0;
}
.button--second {
  background-color: transparent;
  border: 0.0625rem solid #46A358;
  color: #46A358;
  transition: 0.3s;
}
.button--icon {
  font-size: 0.875rem;
  line-height: 1.42857143; /* 20/14 */
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding: 0.5rem 1.0625rem;
  font-weight: 500;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.page {
  padding-bottom: 31.25rem;
}

.hero {
  padding-top: 5.625rem;
}
.hero__wrapper {
  background-color: #F5F5F5;
  max-width: none;
  position: relative;
}
.hero__wrapper {
  overflow: hidden;
}
.hero__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3125rem;
  max-width: 49%;
}
.hero__label {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.14285714; /* 16/14 */
}
.hero__title {
  text-transform: uppercase;
  font-weight: 900;
  text-wrap: balance;
}
.hero__title mark {
  color: #46A358;
}
.hero__text {
  color: #727272;
  font-size: 0.875rem;
  line-height: 1.71428571; /* 24/14 */
}
.hero__text > p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.hero__button {
  text-transform: uppercase;
}
.hero__button svg {
  margin: auto 0;
}
.slider-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}
.slider-hero__slide {
  position: relative;
}
.slider-hero__slide.swiper-slide--2 img:nth-child(1) {
  bottom: 5.5%;
}
.slider-hero__images {
  display: flex;
  justify-items: flex-end;
  position: relative;
  height: 97%;
  max-width: 31.75rem;
}
.slider-hero__images {
  justify-self: end;
}
.slider-hero__images img {
  height: 100%;
  max-height: 100%;
  object-fit: contain;
}
.slider-hero__images img:nth-child(1) {
  position: absolute;
  width: auto;
  height: 27%;
  aspect-ratio: 1;
  bottom: 2%;
  z-index: 1;
  left: 6%;
}
.slider-hero__pagination {
  position: absolute;
  bottom: min(1.3125rem, 4.6%);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}
.slider-hero__pagination span {
  display: block;
  width: 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: rgba(70, 163, 88, 0.3);
  transition: 0.3s background-color;
}
.slider-hero__pagination span.swiper-pagination-bullet-active {
  background-color: #46A358;
}

.catalog__container {
  display: flex;
}
.catalog__container {
  padding-top: 2.875rem;
}
.catalog__filters {
  flex: 0 0 19.375rem;
}
.catalog__filters {
  background-color: #FBFBFB;
  padding: 0.875rem 1.5rem 1.1875rem 1.125rem;
}
.catalog__content {
  flex-grow: 1;
}

.catalog-filters > section {
  margin-bottom: 2.875rem;
}
.categories-catalog-filters__title, .categories-catalog-filters__list, .price-range-catalog-filters__title, .price-range-catalog-filters__list,
.size-catalog-filters__title,
.size-catalog-filters__list {
  text-transform: capitalize;
}
.categories-catalog-filters__title, .price-range-catalog-filters__title,
.size-catalog-filters__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.125; /* 18/16 */
}
.categories-catalog-filters__list, .price-range-catalog-filters__list,
.size-catalog-filters__list {
  font-size: 0.9375rem;
}
.categories-catalog-filters__item, .price-range-catalog-filters__item,
.size-catalog-filters__item {
  text-transform: capitalize;
}
.categories-catalog-filters__item input, .price-range-catalog-filters__item input,
.size-catalog-filters__item input {
  appearance: none;
}
.categories-catalog-filters__item--active, .price-range-catalog-filters__item--active,
.size-catalog-filters__item--active {
  font-weight: 500;
  color: #46A358;
}

.size-catalog-filters__list, .price-range-catalog-filters__body,
.categories-catalog-filters__list {
  padding-left: 0.75rem;
}

.categories-catalog-filters__item label {
  display: flex;
  justify-content: space-between;
}

.price-range-catalog-filters__body {
  display: grid;
  justify-items: start;
}
.sale-catalog-filters__title {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 1.4375; /* 23/16 */
  text-transform: uppercase;
}
.content-catalog__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1.9375rem;
}
.content-catalog__sort {
  display: flex;
  gap: 0.5rem;
}
.content-catalog__cards {
  display: grid;
  --cardSize: clamp(11.25rem, calc(-9.06721073859375rem + 32.7703554323vw), 16.125rem);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--cardSize), 100%), 1fr));
}

.filter-buttons-content-catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.filter-buttons-content-catalog {
  row-gap: 0.9375rem;
}
.filter-buttons-content-catalog__button {
  font-size: 0.9375rem;
  line-height: 1.06666667; /* 16/15 */
  padding: 0.3125rem;
  margin: -0.3125rem;
  position: relative;
  text-transform: capitalize;
}
.filter-buttons-content-catalog__button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: #46A358;
  bottom: -0.9375rem;
  opacity: 0;
  transition: bottom 0.4s, opacity 0.4s;
}
.filter-buttons-content-catalog__button--active {
  color: #46A358;
}
.filter-buttons-content-catalog__button--active::before {
  bottom: 0;
  opacity: 1;
}

.sort-catalog__label, .sort-catalog select {
  font-size: 0.9375rem;
  line-height: 1.06666667; /* 16/15 */
}

.content-catalog-card__product {
  background-color: #FBFBFB;
  position: relative;
  max-width: 18.75rem;
  max-height: 18.75rem;
  padding-block: 1.5625rem;
  padding-inline: 0.25rem;
  overflow: hidden;
}
.content-catalog-card__product::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 0.0625rem;
  pointer-events: none;
  transition: background-color 0.3s;
}
.content-catalog-card__product img {
  aspect-ratio: 250/250;
  max-width: 15.625rem;
  width: 100%;
}
.content-catalog-card__actions {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.625rem;
  transition: 0.3s opacity, 0.3s bottom;
}
.content-catalog-card__item {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex: 0 0 auto;
}
.content-catalog-card__item svg {
  aspect-ratio: 1;
  height: auto;
}
.content-catalog-card__item svg path {
  transition: 0.3s fill;
  fill: #3D3D3D;
}
.content-catalog-card__item--active svg path {
  fill: #46A358;
}
.content-catalog-card__body span, .content-catalog-card__body del {
  font-size: 1.125rem;
  line-height: 1.125%; /* 18/16 */
}
.content-catalog-card__body span {
  color: #46A358;
  font-weight: 700;
}
.content-catalog-card__body del {
  color: #A5A5A5;
}
.content-catalog-card__title {
  text-transform: capitalize;
}
.content-catalog-card__sale {
  font-weight: 500;
  position: absolute;
  top: 5%;
  left: 0;
  background-color: #46A358;
  padding: 0.5rem;
  color: #fff;
  text-transform: uppercase;
}

.pagination__list {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.125; /* 18/16 */
  padding: 0.625rem;
  border: 0.0625rem solid #E5E5E5;
  border-radius: 0.25rem;
}

@media (width <= 61.99875em) {
  .catalog__filters {
    flex-basis: 15.625rem;
  }
}

@media (max-width: 61.99875em) {
  .hero__content {
    max-width: 55%;
  }
}

@media (width <= 59.375em) {
  .catalog__filters {
    display: none;
  }
  .content-catalog__cards {
    --cardSize: clamp(10rem, calc(8.72351176545625rem + 4.2551380792vw), 11.25rem);
  }
  .content-catalog__cards {
    column-gap: 1.5625rem;
  }
  .content-catalog__cards {
    row-gap: 2.5rem;
  }
}

@media (max-width: 59.375em) and (width <= 25.875em) {
  .content-catalog__cards {
    row-gap: 1.5625rem;
  }
}

@media (max-width: 59.375em) and (width <= 20em) {
  .content-catalog__cards {
    column-gap: 0.9375rem;
  }
}

@media (max-width: 59.375em) {
  .header__logo {
    display: none;
  }
  .header__actions {
    gap: 0.5rem;
    flex-grow: 1;
  }
  .header__search {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  .header__search-icon {
    position: absolute;
    left: 0.6875rem;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
  }
  .header__search-icon svg path {
    fill: #A5A5A5;
  }
  .header__shop {
    display: none;
  }
  .header .header__button {
    display: none;
  }
  .content-catalog-card__product {
    background-color: #f6f6f6;
  }
}

@media (width <= 47.99875em) {
  .menu__list {
    column-gap: 0.9375rem;
  }
  .header__actions {
    gap: 0.9375rem;
  }
  .slider-hero__images {
    max-width: 21.875rem;
  }
  .slider-hero__images {
    max-height: 22.5625rem;
  }
  .catalog__container {
    gap: 2.1875rem;
  }
  .filter-buttons-content-catalog {
    column-gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (width <= 20em) {
  .slider-hero__images {
    max-width: 13.125rem;
  }
  .slider-hero__images {
    max-height: 13.8125rem;
  }
  .content-catalog-card__item:nth-child(2) svg {
    width: 0.8125rem;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    display: none;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .menu__list {
    display: none;
  }
  .button {
    font-size: 1rem;
  }
  .hero {
    padding-top: 6.5625rem;
  }
  .hero__wrapper {
    background: url("../assets/img/hero/bg.webp") no-repeat center center/cover;
    border-radius: 2.5rem;
  }
  .hero__content {
    max-width: 60%;
  }
  .slider-hero__images {
    margin-right: -10%;
  }
  .slider-hero__images img:nth-child(1) {
    width: 7.1875rem;
    height: 6.6875rem;
    left: 3%;
  }
  .sale-catalog-filters__title {
    font-size: 1.25rem;
  }
  .content-catalog__card .content-catalog-card__product {
    border-radius: 1.25rem;
  }
  .content-catalog-card__product {
    padding-bottom: 1.25rem;
  }
  .content-catalog-card__actions {
    bottom: auto;
    left: auto;
    right: -3%;
    top: 0.75rem;
  }
  .content-catalog-card__item:not(:nth-child(2)) {
    display: none;
  }
  .content-catalog-card__item:nth-child(2) {
    border-radius: 50%;
    padding: 0.5rem;
  }
  .content-catalog-card__item:nth-child(2) svg {
    width: 1rem;
    aspect-ratio: 1;
  }
  .content-catalog-card__item:nth-child(2) svg--content-catalog-card__item {
    stroke: #46A358;
  }
}

@media (max-width: 37.5em) {
  .hero__title {
    max-width: 22.1875rem;
  }
}

@media (max-width: 35.25em) {
  .content-catalog__sort {
    display: none;
  }
  .content-catalog__card:nth-child(even) {
    transform: translateY(1.9375rem);
  }
  .content-catalog-card__product {
    padding-top: 0.75rem;
  }
}

@media (max-width: 33.125em) {
  .slider-hero__images img {
    opacity: 0.4;
  }
}

@media (max-width: 29.99875em) {
  .togle-nav-header-bottom::before {
    height: 90%;
    background-image: radial-gradient(circle at 50% -8%, transparent var(--size), #fff var(--size));
  }
  .hero__wrapper {
    border-radius: 1.875rem;
  }
  .hero__content {
    max-width: none;
  }
  .hero__text {
    font-size: 0.8125rem;
  }
  .hero__button {
    padding: 0.3125rem;
    margin: -0.3125rem;
    background: transparent;
    color: #46A358;
    font-size: 0.875rem;
  }
  .hero__button svg path {
    stroke: #46A358;
  }
  .slider-hero__images img {
    opacity: 0.2;
  }
  .slider-hero__images img:nth-child(1) {
    height: 37%;
    left: -3%;
  }
  .slider-hero__pagination {
    bottom: min(0.75rem, 5%);
  }
  .content-catalog__cards {
    grid-template-columns: 1fr 1fr;
  }
  .content-catalog-card__sale {
    font-size: 0.8125rem;
    padding: 0.375rem;
  }
}

@media (width <= 26.25em) {
  .hero__title {
    font-size: 1.5rem;
  }
}

@media (width <= 25em) {
  .header-bottom--show .togle-nav-header-bottom__button {
    transform: translate(0rem, -50%);
  }
  .togle-nav-header-bottom::before {
    height: 100%;
  }
  .hero__wrapper {
    padding-top: 1.5625rem;
  }
  .hero__wrapper {
    padding-bottom: 1.875rem;
  }
  .hero__text {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 25em) {
  .header-bottom {
    --gap: 0.3125rem;
  }
}

@media (width <= 21.875em) {
  .header-bottom--show .togle-nav-header-bottom__button {
    transform: translate(0rem, -60%);
  }
  .togle-nav-header-bottom::before {
    height: 104%;
  }
}

@media (width <= 20em) {
  .header-bottom__action {
    padding-top: 1.875rem;
  }
  .header-bottom__action {
    padding-bottom: 1.875rem;
  }
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(1) svg,
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(2) svg {
    width: 1.4375rem;
  }
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(1) svg,
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(2) svg {
    height: 1.4375rem;
  }
  .header-bottom__list {
    gap: 1.5625rem;
  }
  .action-left-header-bottom {
    padding-left: 1.875rem;
  }
  .action-left-header-bottom {
    padding-right: 1.875rem;
  }
  .action-left-header-bottom .header-bottom__list .header-bottom__item:nth-child(2) svg {
    width: 1.4375rem;
  }
  .action-left-header-bottom .header-bottom__list .header-bottom__item:nth-child(2) svg {
    height: 1.25rem;
  }
  .togle-nav-header-bottom__button {
    padding: 0.9375rem;
  }
  .action-right-header-bottom {
    padding-left: 1.875rem;
  }
  .action-right-header-bottom {
    padding-right: 1.875rem;
  }
  .hero__wrapper {
    padding-inline: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (width > 47.99875em) {
  .slider-hero__images {
    max-width: 21.875rem;
  }
  .slider-hero__images {
    max-height: 22.5625rem;
  }
}

@media (max-width: 59.375em) and (width > 59.375em) {
  .content-catalog__cards {
    column-gap: 2.0625rem;
  }
  .content-catalog__cards {
    row-gap: 3.75rem;
  }
}

@media (max-width: 47.99875em) and (width > 29.99875em) {
  .content-catalog-card__item:nth-child(2) svg {
    width: 1rem;
  }
}

@media (width > 20em) and (width <= 47.99875em) {
  .header-bottom__action {
    padding-top: clamp( 1.875rem , 1.38390664761875rem  +  2.4554667619vw , 2.5625rem );
  }
  .header-bottom__action {
    padding-bottom: clamp( 1.875rem , 1.51784119826875rem  +  1.7857940087vw , 2.375rem );
  }
  .hero__wrapper {
    padding-inline: clamp( 1.25rem , 0.35710299566875rem  +  4.4644850217vw , 2.5rem );
  }
}

@media (width > 20em) and (width <= 29.99875em) {
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(1) svg,
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(2) svg {
    width: clamp( 1.4375rem , 0.81242186523125rem  +  3.1253906738vw , 1.75rem );
  }
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(1) svg,
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(2) svg {
    height: clamp( 1.4375rem , 0.81242186523125rem  +  3.1253906738vw , 1.75rem );
  }
  .header-bottom__list {
    gap: clamp( 1.5625rem , 0.93742186523125rem  +  3.1253906738vw , 1.875rem );
  }
  .action-left-header-bottom {
    padding-left: clamp( 1.875rem , 0.24979684960625rem  +  8.126015752vw , 2.6875rem );
  }
  .action-left-header-bottom {
    padding-right: clamp( 1.875rem , 1.24992186523125rem  +  3.1253906738vw , 2.1875rem );
  }
  .action-left-header-bottom .header-bottom__list .header-bottom__item:nth-child(2) svg {
    width: clamp( 1.4375rem , 0.81242186523125rem  +  3.1253906738vw , 1.75rem );
  }
  .action-left-header-bottom .header-bottom__list .header-bottom__item:nth-child(2) svg {
    height: clamp( 1.25rem , 0.49990623828125rem  +  3.7504688086vw , 1.625rem );
  }
  .togle-nav-header-bottom__button {
    padding: clamp( 0.9375rem , 0.31242186523125rem  +  3.1253906738vw , 1.25rem );
  }
  .action-right-header-bottom {
    padding-left: clamp( 1.875rem , 1.24992186523125rem  +  3.1253906738vw , 2.1875rem );
  }
  .action-right-header-bottom {
    padding-right: clamp( 1.875rem , 1.12490623828125rem  +  3.7504688086vw , 2.25rem );
  }
}

@media (width > 25em) and (width <= 61.99875em) {
  .hero__wrapper {
    padding-top: clamp( 1.5625rem , -0.25343972769375rem  +  7.2637589108vw , 4.25rem );
  }
  .hero__wrapper {
    padding-bottom: clamp( 1.875rem , -0.4477136051875rem  +  9.2908544208vw , 5.3125rem );
  }
  .hero__text {
    margin-bottom: clamp( 0.625rem , -0.59970353728125rem  +  4.8988141491vw , 2.4375rem );
  }
}

@media (width > 26.25em) and (width <= 76.875em) {
  .hero__title {
    font-size: clamp( 1.5rem , 0.00925925925625rem  +  5.6790123457vw , 4.375rem );
  }
}

@media (min-width: 26.875em) {
  .action-left-header-bottom {
    box-shadow: -1.0625rem 0 1.875rem -0.625rem rgba(184, 184, 184, 0.25);
  }
  .action-right-header-bottom {
    box-shadow: 1.0625rem 0 1.875rem -0.625rem rgba(184, 184, 184, 0.25);
  }
}

@media (width > 29.99875em) {
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(1) svg,
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(2) svg {
    width: 1.75rem;
  }
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(1) svg,
  .header-bottom__action .header-bottom__list .header-bottom__item:nth-child(2) svg {
    height: 1.75rem;
  }
  .header-bottom__list {
    gap: 1.875rem;
  }
  .action-left-header-bottom {
    padding-left: 2.6875rem;
  }
  .action-left-header-bottom {
    padding-right: 2.1875rem;
  }
  .action-left-header-bottom .header-bottom__list .header-bottom__item:nth-child(2) svg {
    width: 1.75rem;
  }
  .action-left-header-bottom .header-bottom__list .header-bottom__item:nth-child(2) svg {
    height: 1.625rem;
  }
  .togle-nav-header-bottom__button {
    padding: 1.25rem;
  }
  .action-right-header-bottom {
    padding-left: 2.1875rem;
  }
  .action-right-header-bottom {
    padding-right: 2.25rem;
  }
}

@media (min-width: 29.99875em) {
  .togle-nav-header-bottom__button svg {
    width: 2.125rem;
    height: 2rem;
  }
  .hero__button svg {
    display: none;
  }
}

@media (width > 35.25em) and (width <= 47.99875em) {
  .content-catalog-card__item svg {
    width: clamp( 1rem , 0.30875576036875rem  +  1.9609765663vw , 1.25rem );
  }
}

@media (width > 47.99875em) and (width <= 76.875em) {
  .menu__list {
    column-gap: clamp( 0.9375rem , -1.6597225228375rem  +  5.4110211679vw , 2.5rem );
  }
  .header__actions {
    gap: clamp( 0.9375rem , -0.20527791005rem  +  2.3808493139vw , 1.625rem );
  }
  .slider-hero__images {
    max-width: clamp( 21.875rem , 5.4605536556875rem  +  34.1976537812vw , 31.75rem );
  }
  .slider-hero__images {
    max-height: clamp( 22.5625rem , 15.18638803515rem  +  15.3673001169vw , 27rem );
  }
  .catalog__container {
    gap: clamp( 2.1875rem , 0.6291664863rem  +  3.2466127007vw , 3.125rem );
  }
  .filter-buttons-content-catalog {
    column-gap: clamp( 1.25rem , -0.516111315525rem  +  3.6794943942vw , 2.3125rem );
  }
}

@media (width > 47.99875em) {
  .header-bottom__action {
    padding-top: 2.5625rem;
  }
  .header-bottom__action {
    padding-bottom: 2.375rem;
  }
  .hero__wrapper {
    padding-inline: 2.5rem;
  }
}

@media (min-width: 47.99875em) {
  .input--header {
    padding: 0.5rem 0.75rem;
    position: absolute;
    width: 11.25rem;
    z-index: 1;
    top: 3.75rem;
    left: 50%;
    transform: translate(-50%, -0.9375rem);
    border: 0.125rem solid #46A358;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    pointer-events: none;
  }
  .input--header.input-active {
    transform: translate(-50%);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .input--header {
    transition: 0.4s;
  }
  .--header-scroll .input--header {
    top: 3.4375rem;
  }
  .hero__label {
    letter-spacing: 0.0875rem;
  }
  .content-catalog-card__actions {
    opacity: 0;
    bottom: -0.8125rem;
  }
}

@media (max-width: 47.99875em) and (width > 20em) and (width <= 47.99875em) {
  .slider-hero__images {
    max-width: clamp( 13.125rem , 6.8747209696875rem  +  31.2513951516vw , 21.875rem );
  }
  .slider-hero__images {
    max-height: clamp( 13.8125rem , 7.5622209696875rem  +  31.2513951516vw , 22.5625rem );
  }
}

@media (max-width: 47.99875em) and (width > 20em) and (width <= 29.99875em) {
  .content-catalog-card__item:nth-child(2) svg {
    width: clamp( 0.8125rem , 0.4374531191375rem  +  1.8752344043vw , 1rem );
  }
}

@media (hover: none) and (min-width: 47.99875em) {
  html[data-fls-touch] .content-catalog-card__product:active::before {
    background-color: #46A358;
  }
  html[data-fls-touch] .content-catalog-card__product:active .content-catalog-card__actions {
    bottom: 0.4375rem;
    opacity: 1;
  }
}

@media (any-hover: hover) and (min-width: 47.99875em), (pointer: fine) and (min-width: 47.99875em) {
  html:not([data-fls-touch]) .content-catalog-card__product:hover::before {
    background-color: #46A358;
  }
  html:not([data-fls-touch]) .content-catalog-card__product:hover .content-catalog-card__actions {
    bottom: 0.4375rem;
    opacity: 1;
  }
}

@media (width > 50.9375em) and (width <= 59.375em) {
  .content-catalog-card__item svg {
    width: clamp( 1rem , -0.50925925925625rem  +  2.962962963vw , 1.25rem );
  }
}

@media (width > 59.375em) and (width <= 76.875em) {
  .content-catalog__cards {
    column-gap: clamp( 1.5625rem , -0.13392857143125rem  +  2.8571428571vw , 2.0625rem );
  }
  .content-catalog__cards {
    row-gap: clamp( 2.5rem , -5.13392857143125rem  +  12.8571428571vw , 4.75rem );
  }
}

@media (min-width: 59.375em) {
  .header__filters {
    display: none;
  }
  .header-bottom {
    display: none;
  }
}

@media (max-width: 59.375em) and (width > 25.875em) and (width <= 59.375em) {
  .content-catalog__cards {
    row-gap: clamp( 1.5625rem , -0.1270988806rem  +  6.5298507463vw , 3.75rem );
  }
}

@media (max-width: 59.375em) and (width > 20em) and (width <= 59.375em) {
  .content-catalog__cards {
    column-gap: clamp( 0.9375rem , 0.36607142856875rem  +  2.8571428571vw , 2.0625rem );
  }
}

@media (width > 61.99875em) and (width <= 76.875em) {
  .catalog__filters {
    flex-basis: clamp( 15.625rem , -0.00362364506875rem  +  25.2079657172vw , 19.375rem );
  }
}

@media (width > 61.99875em) {
  .hero__wrapper {
    padding-top: 4.25rem;
  }
  .hero__wrapper {
    padding-bottom: 5.3125rem;
  }
  .hero__text {
    margin-bottom: 2.4375rem;
  }
}

@media (min-width: 62.5em) {
  .slider-hero__images {
    margin-right: 4%;
  }
}

@media (width > 76.875em) {
  .menu__list {
    column-gap: 2.5rem;
  }
  .header__actions {
    gap: 1.625rem;
  }
  .hero__title {
    font-size: 4.375rem;
  }
  .slider-hero__images {
    max-width: 31.75rem;
  }
  .slider-hero__images {
    max-height: 27rem;
  }
  .catalog__container {
    gap: 3.125rem;
  }
  .catalog__filters {
    flex-basis: 19.375rem;
  }
  .content-catalog__cards {
    column-gap: 2.0625rem;
  }
  .content-catalog__cards {
    row-gap: 4.75rem;
  }
  .filter-buttons-content-catalog {
    column-gap: 2.3125rem;
  }
}

@media (any-hover: hover), (pointer: fine) {
  html:not([data-fls-touch]) .select__title:hover {
    text-decoration-color: #F8F8F8;
  }
  html:not([data-fls-touch]) .select__option:hover {
    background: #d9d9d9;
  }
  html:not([data-fls-touch]) .link:hover .link__main {
    transform: translateY(-1.75rem);
  }
  html:not([data-fls-touch]) .link:hover .link__hover {
    transform: translateY(0);
  }
  html:not([data-fls-touch]) .menu__link:hover {
    color: #46A358;
  }
  html:not([data-fls-touch]) .header__search-icon:hover svg path {
    fill: #46A358;
  }
  html:not([data-fls-touch]) .header__shop:hover svg path {
    fill: #46A358;
  }
  html:not([data-fls-touch]) .header__filters:hover {
    box-shadow: 0rem 0.3125rem 0.9375rem rgba(70, 163, 88, 0.3);
  }
  html:not([data-fls-touch]) .header-bottom__item:not(.header-bottom__item--active) .header-bottom__link:hover svg path {
    fill: rgba(70, 163, 88, 0.5);
  }
  html:not([data-fls-touch]) .togle-nav-header-bottom__button:hover {
    box-shadow: 0rem 0.3125rem 0.625rem 0rem #D3D3D3;
  }
  html:not([data-fls-touch]) .input--header:hover {
    border-color: #46A358;
  }
  html:not([data-fls-touch]) .button:hover {
    background-color: #4bb662;
  }
  html:not([data-fls-touch]) .button--second:hover {
    color: #fff;
  }
  html:not([data-fls-touch]) .button--icon:hover {
    background-color: #4bb662;
  }
  html:not([data-fls-touch]) .content-catalog-card__item:hover svg path {
    fill: #46A358;
  }
}

@media (hover: none) {
  html[data-fls-touch] .select__title:active {
    text-decoration-color: #F8F8F8;
  }
  html[data-fls-touch] .select__option:active {
    background: #d9d9d9;
  }
  html[data-fls-touch] .link:active .link__main {
    transform: translateY(-1.75rem);
  }
  html[data-fls-touch] .link:active .link__hover {
    transform: translateY(0);
  }
  html[data-fls-touch] .menu__link:active {
    color: #46A358;
  }
  html[data-fls-touch] .header__search-icon:active svg path {
    fill: #46A358;
  }
  html[data-fls-touch] .header__shop:active svg path {
    fill: #46A358;
  }
  html[data-fls-touch] .header__filters:active {
    box-shadow: 0rem 0.3125rem 0.9375rem rgba(70, 163, 88, 0.3);
  }
  html[data-fls-touch] .header-bottom__item:not(.header-bottom__item--active) .header-bottom__link:active svg path {
    fill: rgba(70, 163, 88, 0.5);
  }
  html[data-fls-touch] .togle-nav-header-bottom__button:active {
    box-shadow: 0rem 0.3125rem 0.625rem 0rem #D3D3D3;
  }
  html[data-fls-touch] .input--header:active {
    border-color: #46A358;
  }
  html[data-fls-touch] .button:active {
    background-color: #4bb662;
  }
  html[data-fls-touch] .button--second:active {
    color: #fff;
  }
  html[data-fls-touch] .button--icon:active {
    background-color: #4bb662;
  }
  html[data-fls-touch] .content-catalog-card__item:active svg path {
    fill: #46A358;
  }
}